* text=auto !eol
/adaptive_images_options.php -text
formulaires/adapter_image.html -text
formulaires/adapter_image.php -text
formulaires/configurer_adaptive_images.html -text
javascript/adaptive.lazyload.js -text
javascript/bigup.adapter_image.js -text
javascript/jquery.lazyload.js -text
lang/adaptive_images_fr.php -text
lang/paquet-adaptive_images_fr.php -text
lib/AdaptiveImages/AdaptiveImages-light.js -text
lib/AdaptiveImages/AdaptiveImages.js -text
lib/AdaptiveImages/AdaptiveImages.php -text
lib/AdaptiveImages/LICENSE -text
lib/AdaptiveImages/README.md -text
lib/geometrize/geometrize.autoload.php -text
lib/geometrize/geometrize.init.php -text
lib/geometrize/geometrize/AbstractEnumTools.class.php -text
lib/geometrize/geometrize/Core.class.php -text
lib/geometrize/geometrize/Model.class.php -text
lib/geometrize/geometrize/State.class.php -text
lib/geometrize/geometrize/_ArraySet/ArraySet_Impl_.class.php -text
lib/geometrize/geometrize/bitmap/Bitmap.class.php -text
lib/geometrize/geometrize/bitmap/_Rgba/Rgba_Impl_.class.php -text
lib/geometrize/geometrize/exporter/SvgExporter.class.php -text
lib/geometrize/geometrize/rasterizer/Rasterizer.class.php -text
lib/geometrize/geometrize/rasterizer/Scanline.class.php -text
lib/geometrize/geometrize/runner/ImageRunner.class.php -text
lib/geometrize/geometrize/shape/Circle.class.php -text
lib/geometrize/geometrize/shape/Ellipse.class.php -text
lib/geometrize/geometrize/shape/Line.class.php -text
lib/geometrize/geometrize/shape/QuadraticBezier.class.php -text
lib/geometrize/geometrize/shape/Rectangle.class.php -text
lib/geometrize/geometrize/shape/RotatedEllipse.class.php -text
lib/geometrize/geometrize/shape/RotatedRectangle.class.php -text
lib/geometrize/geometrize/shape/Shape.interface.php -text
lib/geometrize/geometrize/shape/ShapeFactory.class.php -text
lib/geometrize/geometrize/shape/ShapeTypes.class.php -text
lib/geometrize/geometrize/shape/Triangle.class.php -text
lib/geometrize/haxe/IMap.interface.php -text
lib/geometrize/haxe/ds/IntMap.class.php -text
lib/geometrize/haxe/ds/StringMap.class.php -text
lib/geometrize/haxe/io/Bytes.class.php -text
lib/geometrize/haxe/io/Eof.class.php -text
lib/geometrize/php/Boot.class.php -text
lib/geometrize/php/_BytesData/Wrapper.class.php -text
lib/geometrize/readme.md -text
lib/potracio/LICENSE -text
lib/potracio/Potracio.php -text
lib/potracio/README.md -text
lib/potracio/example.php -text
/paquet.xml -text
preview/image_geometrize.php -text
preview/image_gradients.php -text
preview/image_potrace.php -text
prive/squelettes/contenu/configurer_adaptive_images.html -text
prive/squelettes/inclure/adapter-image.html -text
prive/themes/spip/images/adaptive_images-16.png -text
prive/themes/spip/images/adaptive_images-32.png -text
prive/themes/spip/images/adaptive_images-64.png -text
prive/themes/spip/images/adaptive_images-xx.svg -text
