* text=auto !eol
/LICENSE.txt -text
/README-parallelism.txt -text
/article.html -text
/config.js.html -text
css/font/FontAwesome.otf -text
css/font/OFL.txt -text
css/font/SourceSansPro-Black.ttf -text
css/font/SourceSansPro-BlackItalic.ttf -text
css/font/SourceSansPro-Bold.ttf -text
css/font/SourceSansPro-BoldItalic.ttf -text
css/font/SourceSansPro-ExtraLight.ttf -text
css/font/SourceSansPro-ExtraLightItalic.ttf -text
css/font/SourceSansPro-Italic.ttf -text
css/font/SourceSansPro-Light.ttf -text
css/font/SourceSansPro-LightItalic.ttf -text
css/font/SourceSansPro-Regular.ttf -text
css/font/SourceSansPro-Semibold.ttf -text
css/font/SourceSansPro-SemiboldItalic.ttf -text
css/font/fontawesome-webfont.eot -text
css/font/fontawesome-webfont.svg -text
css/font/fontawesome-webfont.ttf -text
css/font/fontawesome-webfont.woff -text
css/images/loader.gif -text
css/images/overlay.png -text
css/skel-noscript.css -text
css/spip-style.css -text
css/style-desktop.css -text
css/style-mobile.css -text
css/style-noscript.css -text
css/style.css -text
formulaires/configurer_parallelism.html -text
images/bg.jpg -text
images/fulls/01.jpg -text
images/fulls/02.jpg -text
images/fulls/03.jpg -text
images/fulls/04.jpg -text
images/fulls/05.jpg -text
images/fulls/06.jpg -text
images/fulls/07.jpg -text
images/fulls/08.jpg -text
images/thumbs/01.jpg -text
images/thumbs/02.jpg -text
images/thumbs/03.jpg -text
images/thumbs/04.jpg -text
images/thumbs/05.jpg -text
images/thumbs/06.jpg -text
images/thumbs/07.jpg -text
images/thumbs/08.jpg -text
/inc-pied.html -text
/inscription.html -text
js/config-perso.js.html -text
js/config.js.html -text
js/html5shiv.js -text
js/jquery.poptrox.js -text
js/skel.js -text
lang/paquet-parallelism_fr.php -text
lang/parallelism_fr.php -text
modeles/titre_img.html -text
/paquet.xml -text
/parallelism_pipelines.php -text
prive/squelettes/contenu/configurer_parallelism.html -text
prive/themes/spip/images/parallelism-16.png -text
prive/themes/spip/images/parallelism4spip-24.png -text
prive/themes/spip/images/parallelism4spip-32.png -text
prive/themes/spip/images/parallelism4spip-64.png -text
prive/themes/spip/images/parallelism4spip.png -text
/rubrique.html -text
/sommaire.html -text
/todo-doc-bla.txt -text
