* text=auto !eol
action/generer_pages_uniques_utiles.php -text
base/pages_tables.php -text
content/articles-resume.html -text
formulaires/editer_identifiant_page.html -text
formulaires/editer_identifiant_page.php -text
images/page-128.png -text
lang/pages.xml -text
lang/pages_ar.php -text
lang/pages_de.php -text
lang/pages_en.php -text
lang/pages_es.php -text
lang/pages_fa.php -text
lang/pages_fr.php -text
lang/pages_nl.php -text
lang/pages_pt_br.php -text
lang/pages_ru.php -text
lang/pages_sk.php -text
lang/paquet-pages.xml -text
lang/paquet-pages_ar.php -text
lang/paquet-pages_de.php -text
lang/paquet-pages_en.php -text
lang/paquet-pages_es.php -text
lang/paquet-pages_fa.php -text
lang/paquet-pages_fr.php -text
lang/paquet-pages_nl.php -text
lang/paquet-pages_pt_br.php -text
lang/paquet-pages_ru.php -text
lang/paquet-pages_sk.php -text
/pages_administrations.php -text
/pages_fonctions.php -text
/pages_pipelines.php -text
/paquet.xml -text
prive/objets/editer/identifiant_page.html -text
prive/objets/liste/pages.html -text
prive/objets/liste/pages_fonctions.php -text
prive/themes/spip/images/page-16.png -text
prive/themes/spip/images/page-24.png -text
prive/themes/spip/images/page-32.png -text
prive/themes/spip/images/page-new-16.png -text
saisies-vues/pages_uniques.html -text
saisies/pages_uniques.html -text
