* text=auto !eol
css/tooltip.css -text
demo/bg.gif -text
demo/chili-1.7.pack.js -text
demo/formtip.html -text
demo/image.png -text
demo/index.html -text
demo/karte.png -text
demo/screen.css -text
demo/shadow.png -text
demo/shadow2-reverse.png -text
demo/shadow2.png -text
formulaires/configurer_tooltip.html -text
icon/tooltip.png -text
js/tooltip.js -text
js/tooltip.min.js -text
js/tooltip.pack.js -text
js/tooltip2.js -text
lang/paquet-tooltip.xml -text
lang/paquet-tooltip_en.php -text
lang/paquet-tooltip_es.php -text
lang/paquet-tooltip_fr.php -text
lang/paquet-tooltip_nl.php -text
lang/paquet-tooltip_pt_br.php -text
lang/paquet-tooltip_sk.php -text
lang/tooltip.xml -text
lang/tooltip_en.php -text
lang/tooltip_es.php -text
lang/tooltip_fr.php -text
lang/tooltip_nl.php -text
lang/tooltip_pt_br.php -text
lang/tooltip_sk.php -text
lib/delegate.js -text
lib/dimensions.js -text
/paquet.xml -text
/plugin.xml -text
prive/squelettes/contenu/configurer_tooltip.html -text
/tooltip_pipelines.php -text
