* text=auto !eol
/composition-vide.html eol=lf
/compositions_administrations.php eol=lf
/compositions_fonctions.php eol=lf
/compositions_ieconfig.php eol=lf
/compositions_options.php -text
/compositions_pipeline.php eol=lf
formulaires/configurer_compositions.html eol=lf
formulaires/configurer_compositions_fonctions.php eol=lf
formulaires/editer_composition_objet.html eol=lf
formulaires/editer_composition_objet.php eol=lf
formulaires/inc-selecteur_composition.html eol=lf
images/composition-cours.png -text
images/composition-tableau.png -text
images/composition-test.png -text
images/objet-blocs.png -text
images/objet-intro-blocs.png -text
images/objet-liste-contenus-dates.png -text
images/objet-liste-contenus.png -text
images/objet-simple.png -text
inc/compositions.php eol=lf
lang/compositions.xml eol=lf
lang/compositions_de.php -text
lang/compositions_en.php eol=lf
lang/compositions_es.php eol=lf
lang/compositions_fr.php eol=lf
lang/compositions_nl.php eol=lf
lang/compositions_ru.php eol=lf
lang/compositions_sk.php eol=lf
lang/paquet-compositions.xml eol=lf
lang/paquet-compositions_en.php eol=lf
lang/paquet-compositions_es.php eol=lf
lang/paquet-compositions_fr.php eol=lf
lang/paquet-compositions_nl.php eol=lf
lang/paquet-compositions_ru.php eol=lf
lang/paquet-compositions_sk.php eol=lf
/paquet.xml eol=lf
prive/editer/compositions.html eol=lf
prive/squelettes/contenu/compositions.html eol=lf
prive/squelettes/contenu/configurer_compositions.html eol=lf
prive/squelettes/navigation/compositions.html -text
prive/style_prive_plugin_compositions.html eol=lf
prive/themes/spip/images/composition-16.png -text
prive/themes/spip/images/composition-24.png -text
prive/themes/spip/images/composition-32.png -text
prive/themes/spip2/images/composition-16.png -text
prive/themes/spip2/images/composition-24.png -text
prive/themes/spip2/images/composition-32.png -text
saisies/composition.html eol=lf
saisies/composition_fonctions.php eol=lf
