* text=auto !eol
/404.html -text
/ajax.html -text
/body.html -text
content/401.html -text
content/404.html -text
content/z_apl.html -text
css/box.css -text
css/box_skins.css -text
css/bytesize/bytesize-inline.svg -text
css/bytesize/bytesize-symbols.min.svg -text
css/bytesize/bytesize-symbols.svg -text
css/bytesize/icons/activity.svg -text
css/bytesize/icons/alert.svg -text
css/bytesize/icons/archive.svg -text
css/bytesize/icons/arrow-bottom.svg -text
css/bytesize/icons/arrow-left.svg -text
css/bytesize/icons/arrow-right.svg -text
css/bytesize/icons/arrow-top.svg -text
css/bytesize/icons/backwards.svg -text
css/bytesize/icons/bag.svg -text
css/bytesize/icons/ban.svg -text
css/bytesize/icons/bell.svg -text
css/bytesize/icons/book.svg -text
css/bytesize/icons/bookmark.svg -text
css/bytesize/icons/calendar.svg -text
css/bytesize/icons/camera.svg -text
css/bytesize/icons/caret-bottom.svg -text
css/bytesize/icons/caret-left.svg -text
css/bytesize/icons/caret-right.svg -text
css/bytesize/icons/caret-top.svg -text
css/bytesize/icons/cart.svg -text
css/bytesize/icons/checkmark.svg -text
css/bytesize/icons/chevron-bottom.svg -text
css/bytesize/icons/chevron-left.svg -text
css/bytesize/icons/chevron-right.svg -text
css/bytesize/icons/chevron-top.svg -text
css/bytesize/icons/clipboard.svg -text
css/bytesize/icons/clock.svg -text
css/bytesize/icons/close.svg -text
css/bytesize/icons/code.svg -text
css/bytesize/icons/compose.svg -text
css/bytesize/icons/creditcard.svg -text
css/bytesize/icons/desktop.svg -text
css/bytesize/icons/download.svg -text
css/bytesize/icons/edit.svg -text
css/bytesize/icons/eject.svg -text
css/bytesize/icons/ellipsis-horizontal.svg -text
css/bytesize/icons/ellipsis-vertical.svg -text
css/bytesize/icons/end.svg -text
css/bytesize/icons/export.svg -text
css/bytesize/icons/external.svg -text
css/bytesize/icons/eye.svg -text
css/bytesize/icons/feed.svg -text
css/bytesize/icons/file.svg -text
css/bytesize/icons/filter.svg -text
css/bytesize/icons/flag.svg -text
css/bytesize/icons/folder-open.svg -text
css/bytesize/icons/folder.svg -text
css/bytesize/icons/forwards.svg -text
css/bytesize/icons/fullscreen-exit.svg -text
css/bytesize/icons/fullscreen.svg -text
css/bytesize/icons/gift.svg -text
css/bytesize/icons/github.svg -text
css/bytesize/icons/heart.svg -text
css/bytesize/icons/home.svg -text
css/bytesize/icons/import.svg -text
css/bytesize/icons/inbox.svg -text
css/bytesize/icons/info.svg -text
css/bytesize/icons/lightning.svg -text
css/bytesize/icons/link.svg -text
css/bytesize/icons/location.svg -text
css/bytesize/icons/lock.svg -text
css/bytesize/icons/mail.svg -text
css/bytesize/icons/menu.svg -text
css/bytesize/icons/message.svg -text
css/bytesize/icons/microphone.svg -text
css/bytesize/icons/minus.svg -text
css/bytesize/icons/mobile.svg -text
css/bytesize/icons/moon.svg -text
css/bytesize/icons/move.svg -text
css/bytesize/icons/music.svg -text
css/bytesize/icons/mute.svg -text
css/bytesize/icons/options.svg -text
css/bytesize/icons/paperclip.svg -text
css/bytesize/icons/pause.svg -text
css/bytesize/icons/photo.svg -text
css/bytesize/icons/play.svg -text
css/bytesize/icons/plus.svg -text
css/bytesize/icons/portfolio.svg -text
css/bytesize/icons/print.svg -text
css/bytesize/icons/reload.svg -text
css/bytesize/icons/reply.svg -text
css/bytesize/icons/search.svg -text
css/bytesize/icons/send.svg -text
css/bytesize/icons/settings.svg -text
css/bytesize/icons/sign-in.svg -text
css/bytesize/icons/sign-out.svg -text
css/bytesize/icons/star.svg -text
css/bytesize/icons/start.svg -text
css/bytesize/icons/tag.svg -text
css/bytesize/icons/telephone.svg -text
css/bytesize/icons/trash.svg -text
css/bytesize/icons/twitter.svg -text
css/bytesize/icons/unlock.svg -text
css/bytesize/icons/upload.svg -text
css/bytesize/icons/user.svg -text
css/bytesize/icons/video.svg -text
css/bytesize/icons/volume.svg -text
css/bytesize/icons/work.svg -text
css/bytesize/icons/zoom-in.svg -text
css/bytesize/icons/zoom-out.svg -text
css/bytesize/icons/zoom-reset.svg -text
css/icons.css -text
css/img/box/message_erreur-24.png -text
css/img/box/message_notice-24.png -text
css/img/box/message_ok-24.png -text
css/theme.css -text
demo/box.html -text
demo/content/box.html -text
demo/content/icons.html -text
demo/extended_box/box_skins.css -text
demo/extended_box/img/box/author.png -text
demo/extended_box/img/box/even.png -text
demo/extended_box/img/box/even_borders.psd -text
demo/extended_box/img/box/even_lr.png -text
demo/extended_box/img/box/even_tb.png -text
demo/extended_box/img/box/excerpt.png -text
demo/extended_box/img/box/glow.png -text
demo/extended_box/img/box/glow_7px.png -text
demo/extended_box/img/box/glow_test.png -text
demo/extended_box/img/box/glow_thin.png -text
demo/extended_box/img/box/grab.png -text
demo/extended_box/img/box/header.png -text
demo/extended_box/img/box/header_glossy.png -text
demo/extended_box/img/box/header_gradient_light.png -text
demo/extended_box/img/box/highlight.png -text
demo/extended_box/img/box/me.png -text
demo/extended_box/img/box/noted.png -text
demo/extended_box/img/box/photo.png -text
demo/extended_box/img/box/round.png -text
demo/extended_box/img/box/simple_corners.png -text
demo/extended_box/img/box/simple_extended.png -text
demo/extended_box/img/box/talk.png -text
demo/extended_box/img/box/universe.png -text
demo/extended_box/img/box/universe_gray.png -text
demo/extended_box/img/box/universe_login.png -text
demo/icons.html -text
head/404.html -text
head/dist.html -text
head_js/dist.html -text
inc/filtres_boites.php -text
inclure/ajax_parallel_load.html -text
inclure/head.html -text
inclure/resume/article.html -text
inclure/resume/breve.html -text
inclure/resume/comment.html -text
inclure/resume/document.html -text
inclure/resume/mot.html -text
inclure/resume/rubrique.html -text
inclure/resume/site.html -text
inclure/resume/syndic_article.html -text
javascript/zapl.scripts.js -text
lang/paquet-zcore_en.php -text
lang/paquet-zcore_fr.php -text
lang/zcore.xml -text
lang/zcore_ar.php -text
lang/zcore_de.php -text
lang/zcore_en.php -text
lang/zcore_es.php -text
lang/zcore_fa.php -text
lang/zcore_fr.php -text
lang/zcore_nl.php -text
lang/zcore_pt.php -text
lang/zcore_pt_br.php -text
lang/zcore_sk.php -text
lang/zcore_sv.php -text
/page.html -text
/paquet.xml -text
prive/themes/spip/images/out.gif -text
prive/themes/spip/images/z-core-128.png -text
prive/themes/spip/images/z-core-16.png -text
prive/themes/spip/images/z-core-32.png -text
prive/themes/spip/images/z-core-64.png -text
prive/themes/spip/images/z-core-xx.svg -text
public/echafauder.php -text
/structure.html -text
tests/zcore_echafaudable.php -text
/zcore_options.php -text
/zcore_pipelines.php -text
