* text=auto !eol
base/jquerysuperfish_install.php -text
css/superfish-navbar.css -text
css/superfish-vertical.css -text
css/superfish.css -text
demo/jquerysuperfish.html -text
demo/jquerysuperfish_menu.html -text
formulaires/configurer_jquerysuperfish.html -text
formulaires/configurer_jquerysuperfish.php -text
images/arrows-ffffff.png -text
images/shadow.png -text
inc/jquerysuperfish_autoriser.php -text
javascript/hoverIntent.js -text
javascript/jquery.bgiframe.min.js -text
javascript/superfish.js -text
javascript/supersubs.js -text
/jquerysuperfish_administrations.php -text
/jquerysuperfish_ieconfig_metas.php -text
/jquerysuperfish_pipelines.php -text
lang/jquerysuperfish_fr.php -text
lang/paquet-jquerysuperfish_fr.php -text
/paquet.xml -text
/plugin.xml -text
prive/exec/configurer_jquerysuperfish.html -text
prive/squelettes/contenu/configurer_jquerysuperfish.html -text
prive/themes/spip/images/jquerysuperfish-16.png -text
prive/themes/spip/images/jquerysuperfish-24.png -text
prive/themes/spip/images/jquerysuperfish-32.png -text
