* text=auto !eol
demo/css/scss_demo.scss -text
demo/test_scss.html -text
lang/paquet-scssphp.xml -text
lang/paquet-scssphp_fr.php -text
lang/scssphp.xml -text
lang/scssphp_fr.php -text
lib/scssphp/LICENSE.md -text
lib/scssphp/README.md -text
lib/scssphp/bin/pscss -text
lib/scssphp/composer.json -text
lib/scssphp/scss.inc.php -text
lib/scssphp/src/Base/Range.php -text
lib/scssphp/src/Block.php eol=lf
lib/scssphp/src/Cache.php -text
lib/scssphp/src/Colors.php -text
lib/scssphp/src/Compiler.php -text
lib/scssphp/src/Compiler/Environment.php eol=lf
lib/scssphp/src/Exception/CompilerException.php eol=lf
lib/scssphp/src/Exception/ParserException.php eol=lf
lib/scssphp/src/Exception/ServerException.php eol=lf
lib/scssphp/src/Formatter.php -text
lib/scssphp/src/Formatter/Compact.php -text
lib/scssphp/src/Formatter/Compressed.php -text
lib/scssphp/src/Formatter/Crunched.php -text
lib/scssphp/src/Formatter/Debug.php eol=lf
lib/scssphp/src/Formatter/Expanded.php -text
lib/scssphp/src/Formatter/Nested.php -text
lib/scssphp/src/Formatter/OutputBlock.php eol=lf
lib/scssphp/src/Node.php eol=lf
lib/scssphp/src/Node/Number.php eol=lf
lib/scssphp/src/Parser.php -text
lib/scssphp/src/SourceMap/Base64.php -text
lib/scssphp/src/SourceMap/Base64VLQ.php -text
lib/scssphp/src/Type.php eol=lf
lib/scssphp/src/Util.php -text
lib/scssphp/src/Version.php -text
/paquet.xml -text
prive/bouton/calculer_css.html -text
/readme.txt -text
/scssphp-32.png -text
/scssphp-64.png -text
/scssphp-xx.svg -text
/scssphp_fonctions.php -text
/scssphp_options.php -text
