* text=auto !eol
action/editer_gis.php -text
action/editer_lien_gis.php -text
action/gis_geocoder_rechercher.php -text
action/kml_infos.php -text
action/supprimer_gis.php -text
base/gis.php -text
crud/gis.php -text
css/leaflet_nodirection.css -text
embed/kml.html -text
embed/kml_fonctions.php -text
formulaires/configurer_gis.html -text
formulaires/configurer_gis.php -text
formulaires/editer_gis.html -text
formulaires/editer_gis.php -text
formulaires/gis_inserer_modeles_traiter.php -text
formulaires/rechercher_gis.html -text
formulaires/rechercher_gis.php -text
/gis_administrations.php -text
/gis_autoriser.php -text
/gis_download.html -text
/gis_fonctions.php -text
/gis_json.html -text
/gis_kml.html -text
/gis_options.php -text
/gis_pipelines.php -text
icones_barre/gis.png -text
images/gis-16.png -text
images/gis-24.png -text
images/gis.png -text
inc/gis_xmlrpc.php -text
inc/iptc.php -text
inc/kml_infos.php -text
inclure/download_gpx.html -text
inclure/download_kml.html -text
inclure/gpx-item.html -text
inclure/kml-item.html -text
javascript/.eslintrc -text
javascript/gis.js.html -text
javascript/gis_geocoder.js -text
javascript/gis_utils.js -text
javascript/leaflet.gis.js -text
json/gis.html -text
json/gis_articles.html -text
json/gis_articles_branche.html -text
json/gis_articles_plus_sites.html -text
json/gis_auteurs.html -text
json/gis_documents.html -text
json/gis_evenements.html -text
json/gis_mots.html -text
json/gis_organisations.html -text
json/gis_point_libre.html -text
json/gis_rubriques.html -text
json/gis_sites.html -text
json/gis_tous_avec_liens_espace_prive.html -text
lang/gis.xml -text
lang/gis_de.php -text
lang/gis_en.php -text
lang/gis_es.php -text
lang/gis_fr.php -text
lang/gis_nl.php -text
lang/gis_pt_br.php -text
lang/gis_ru.php -text
lang/gis_sk.php -text
lang/paquet-gis.xml -text
lang/paquet-gis_en.php -text
lang/paquet-gis_es.php -text
lang/paquet-gis_fr.php -text
lang/paquet-gis_nl.php -text
lang/paquet-gis_pt_br.php -text
lang/paquet-gis_ru.php -text
lang/paquet-gis_sk.php -text
lib/leaflet/LICENSE -text
lib/leaflet/README.md -text
lib/leaflet/dist/images/layers-2x.png -text
lib/leaflet/dist/images/layers.png -text
lib/leaflet/dist/images/marker-icon-2x.png -text
lib/leaflet/dist/images/marker-icon.png -text
lib/leaflet/dist/images/marker-shadow.png -text
lib/leaflet/dist/leaflet-src.js -text
lib/leaflet/dist/leaflet.css -text
lib/leaflet/dist/leaflet.js -text
lib/leaflet/plugins/Bing.js -text
lib/leaflet/plugins/Control.FullScreen.js -text
lib/leaflet/plugins/Control.MiniMap.js -text
lib/leaflet/plugins/GPX.Speed.js -text
lib/leaflet/plugins/GPX.js -text
lib/leaflet/plugins/KML.js -text
lib/leaflet/plugins/Leaflet.GoogleMutant.js -text
lib/leaflet/plugins/Marker.Rotate.js -text
lib/leaflet/plugins/TOPOJSON.js -text
lib/leaflet/plugins/images/icon-fullscreen-2x.png -text
lib/leaflet/plugins/images/icon-fullscreen.png -text
lib/leaflet/plugins/images/toggle.png -text
lib/leaflet/plugins/images/toggle.svg -text
lib/leaflet/plugins/leaflet-plugins.css -text
lib/leaflet/plugins/leaflet-providers.js -text
lib/leaflet/plugins/leaflet.markercluster-src.js -text
lib/leaflet/plugins/leaflet.markercluster.css -text
modeles/carte_gis.html -text
modeles/carte_gis.yaml -text
modeles/carte_gis_objet.html -text
modeles/carte_gis_preview.html -text
/paquet.xml -text
prive/contenu/gis_objet.html -text
prive/inclure/gis_objet_formulaires.html -text
prive/objets/contenu/gis.html -text
prive/objets/infos/gis.html -text
prive/objets/liste/gis.html -text
prive/objets/liste/gis_associer.html -text
prive/objets/liste/gis_associer_fonctions.php -text
prive/objets/liste/gis_lies.html -text
prive/objets/liste/gis_lies_fonctions.php -text
prive/objets/liste/objets_gis.html -text
prive/objets/liste/objets_gis_simple.html -text
prive/squelettes/contenu/configurer_gis.html -text
prive/squelettes/contenu/gis.html -text
prive/squelettes/contenu/gis_edit.html -text
prive/squelettes/contenu/gis_tous.html -text
prive/squelettes/extra/gis.html -text
prive/squelettes/hierarchie/gis.html -text
prive/squelettes/hierarchie/gis_edit.html -text
prive/squelettes/navigation/gis_edit.html -text
prive/squelettes/top/gis_tous.html -text
prive/style_prive_plugin_gis.html -text
prive/themes/spip/images/gis-16.png -text
prive/themes/spip/images/gis-24.png -text
prive/themes/spip/images/gis-new-16.png -text
saisies/carte.html -text
tests/gis_connect_sql.php -text
